$main-color: rgb(178, 109, 205);
$second-color: rgb(169, 139, 209);


$gragient-main-color: rgb(189, 129, 213);
$gragient-second-color: rgb(159, 123, 205);



body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, rgba($gragient-second-color, .5) 0%, rgba($gragient-main-color, .5) 100%);
    font-family: 'Inter';
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.wrapper {
    width: 80%;
    margin: auto;
    position: relative;
    &.mr100{
        margin-top: 100px;
    }
    .header__menu {
        width: 100%;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 17px;

        .logo {
            width: 75px;
            height: 75px;
            display: flex;
            align-items: center;
            gap: 20px;

            .logo__title {
                color: #1E1E1E;
                font-family: Inter;
                font-size: 32px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                white-space: nowrap;
            }

            img {
                width: 100%;
            }
        }

        .info {
            display: flex;
            column-gap: 130px;

            .social__wrap {
                display: flex;
                gap: 25px;
                align-items: center;
            }
            .icon {
                width: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                &:hover {
                  //  background-color: #966eb749;
                }
                a {
                    display: block;
                    height: 30px;
                    
                    border-radius: 50%;
                    &:hover {
                        background-color: #966eb749;
                    }
                }
                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .phone__wrap {
                display: flex;
                gap: 6px;
                align-items: center;

                .phone {
                    white-space: nowrap;
                    color: #1E1E1E;
                    font-family: Montserrat Alternates;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-decoration: none;
                }
            }
        }
    }

    .header__screen {
        display: flex;
        margin-top: 50px;

        .content {
            display: flex;
            gap: 75px;

            .col__1 {
                display: flex;
                align-items: center;

                .content__row {
                    display: flex;
                    flex-direction: column;
                    gap: 35px;

                    .slogan {
                        &__title {
                            color: #1E1E1E;
                            font-family: Inter;
                            font-size: 22px;
                            font-style: normal;
                            font-weight: 900;
                            line-height: normal;
                        }

                        &__description {
                            color: #1E1E1E;
                            font-family: Inter;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }

                    .btn {
                        border-radius: 10px;
                        background: #966eb7;
                        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
                        width: max-content;
                        padding: 20px 30px;

                        &__link {
                            text-decoration: none;
                            text-transform: uppercase;
                            color: #fff;
                        }
                    }
                }
            }

            .col__2 {
                width: 100%;

                .photos {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 30px;

                    .pic1,
                    .pic2 {
                        position: relative;

                        img {
                            width: 100%;
                            border: solid 5px #fff;
                            position: absolute;
                            top: 0;
                            left: 0;

                            &.first {
                                top: 30px;
                            }

                            &.second {
                                top: 100px;
                            }
                        }
                    }



                }
            }
        }
    }

    .for__who {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;

        &-inner {
            width: 100%;
            margin: auto;

            &-title {
                color: #1E1E1E;
                font-family: 'Inter';
                font-size: 28px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                text-transform: uppercase;
                text-align: center;
                padding-bottom: 60px;
            }

            &-blocks {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 50px;

                &-block {
                    border-radius: 10px;
                    background: #FFF;
                    padding: 40px 20px;

                    &-icon {
                        display: flex;
                        width: 100%;
                        align-items: center;
                        justify-content: center;
                        font-size: 50px;
                        color: $main-color;
                        img {
                            max-width: 125px;
                            max-height: 70px;
                        }
                    }

                    &-content {
                        color: #1E1E1E;
                        text-align: center;
                        font-family: 'Inter';
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
        }
    }

    .what__get {
        width: 100%;
        padding-top: 60px;
        padding-bottom: 60px;

        &-title {
            color: #1E1E1E;
            font-family: Inter;
            font-size: 28px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            text-transform: uppercase;
            text-align: center;
            padding-bottom: 60px;
        }

        &-content {
            &-blocks {
                display: grid;
                grid-template-columns: 1fr;
                gap: 25px;

                &-block {
                    border-radius: 8px;
                    background: #FFF;
                    color: #1E1E1E;
                    font-family: Inter;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    padding: 32px 44px;
                    text-align: center;
                    border-left: solid 5px $second-color;
                    border-right: solid 5px $second-color;
                }
            }
        }
    }

    .about {
        width: 100%;
        padding-top: 60px;
        padding-bottom: 60px;
        box-sizing: border-box;

        &-inner {
            &-blocks {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 76px;

                &-block {
                    &.left {
                        .about-inner-blocks-block-left {
                            display: grid;
                            grid-template-columns: 1fr;
                            gap: 32px;

                            &-title {
                                color: #1E1E1E;
                                font-family: Inter;
                                font-size: 32px;
                                font-style: normal;
                                font-weight: 900;
                                line-height: normal;
                            }

                            &-content {
                                color: #1E1E1E;
                                font-family: Inter;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                            }
                        }
                    }

                    &.right {
                        .about-inner-blocks-block-img {
                            background: url(/img/pic2.jpg) no-repeat;
                            background-size: cover;
                            height: 100%;
                            width: 100%;
                            background-position: top;
                            border-radius: 8px;
                        }
                        .about-inner-blocks-block-img.treaning {
                            background: url(/img/new/IMG_8874.JPG) no-repeat;
                            background-size: 100%;
                        }
                    }
                }
            }
        }
    }
    .packs{
        width: 100%;
        margin: auto;
        h1{
            text-align: center;
        }
        &-inner-cards{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 100px;
            height: max-content;
            &-card{
                background-color: #fff;
                background: linear-gradient(180deg, #eccafd 0%, #eccafd 100%);
                border-radius: 15px;
                padding: 25px;
                display: flex;
                flex-direction: column;
                gap: 15px;
                text-align: center;
                box-shadow: 0 0 10px 0px #fff;
                &-table {
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 10px;
                    &-line {
                        display: grid;
                        grid-template-columns: 1fr 25px;
                        align-items: center;
                        border-bottom: solid 1px #e4bcf8;
                        &-text {
                            text-align: left;
                        }
                        &-ico {
                            font-size: 20px;
                        }
                        &-ico.good {
                            color: rgb(47, 145, 47);
                        }
                        &-ico.fail {
                            color: rgb(145, 47, 47);
                        }
                    }
                }
                h3{
                    text-align: center;
                    font-size: 20px;
                    margin: 0;
                    text-transform: uppercase;
                }
                &-bottom{
                    margin: auto;
                    margin-bottom: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 15px;
                }
                .btn{
                    padding: 12px 24px;
                }
            }
        }
    }
    .program {
        width: 80%;
        padding-top: 60px;
        padding-bottom: 60px;
        margin: auto;

        &-header {
            text-align: center;

            &-title {
                color: #1E1E1E;
                font-family: Inter;
                font-size: 28px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                text-transform: uppercase;
                display: block;
            }

            &-description {
                color: #1E1E1E;
                font-family: Inter;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                display: block;
                margin-top: 24px;
            }
        }

        &-body {
            margin-top: 60px;

            &-blocks {
                display: grid;
                grid-template-columns: 1fr;
                gap: 30px;

                &-block {
                    border-radius: 10px;
                    background: #FFF;
                    display: flex;
                    grid-template-columns: max-content 1fr;
                    width: 100%;
                    box-sizing: border-box;

                    &-title {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 32px 16px;
                        border-radius: 10px;
                        background: $main-color;
                        color: #fff;
                        color: #FFF;
                        font-family: Inter;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;

                        & span {
                            white-space: nowrap;
                        }
                    }

                    &-description {
                        display: flex;
                        align-items: center;
                        justify-content: left;
                        padding: 10px 10px 10px 25px;
                        color: #000;
                        font-family: Inter;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        flex-direction: column;
                        width: 100%;
                        transition: all .3s;

                        .program-list {
                            display: none;
                            text-align: left;
                            width: 100%;
                            padding: 10px 0;
                            gap: 8px;
                            grid-template-columns: 1fr;

                            &-wrap {
                                display: flex;
                                gap: 8px;
                                align-items: center;

                                &:hover {
                                    .program-list-wrap-ico {
                                        background: -webkit-linear-gradient(#fff700, $main-color);
                                        -webkit-background-clip: text;
                                        -webkit-text-fill-color: transparent;
                                        transition: all .3s;

                                    }

                                }

                                &-ico {
                                    display: flex;
                                    align-items: center;
                                    font-size: 20px;
                                    padding-top: 4px;
                                    background: -webkit-linear-gradient($main-color, $main-color);
                                    -webkit-background-clip: text;
                                    -webkit-text-fill-color: transparent;
                                }
                            }
                        }

                        &.active {
                            .program-list {
                                display: grid;

                                
                            }
                            .tick i{
                                transform: translate(-50%, -50%) rotate(180deg);
                                display: block;
                            }

                        }

                        &-row {
                            display: grid;
                            grid-template-columns: 1fr 40px;
                            align-items: center;
                            justify-content: left;
                            height: 100%;
                            width: 100%;
                            &:hover {
                                color: $main-color;
                                cursor: pointer;
                              
                            }
                        }
                    }

                    &-full {
                        border-radius: 10px;
                        background: #FFF;
                        box-shadow: 0px 0px 39.9px 7px rgba(255, 255, 255, 0.75);
                        color: #000;
                        text-align: center;
                        font-family: Inter;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        padding: 32px;
                        text-align: center;
                        & i {
                            color: $main-color;
                        }
                    }
                }
            }
        }
    }

    .give {
        width: 100%;
        padding-top: 60px;
        padding-bottom: 60px;

        &-title {
            color: #1E1E1E;
            font-family: 'Inter';
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-align: center;
        }

        &-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 40px;
        }
    }

    .reg-btn {
        width: max-content;
        border-radius: 8px;
        background: $main-color;
        padding: 16px 48px;
        color: #FFF;
        font-family: Inter;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border: none;
        cursor: pointer;
    }
}

.footer {
    width: 100%;
    padding-top: 60px;
    background: $main-color;

    &-inner {
        width: 80%;
        margin: auto;

        &-title {
            display: flex;
            align-items: center;
            justify-content: center;

            &-logo {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #FFF;
                font-family: Inter;
                font-size: 32px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                gap: 24px;
            }
        }

        &-content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-top: 60px;

            &-left {
                display: flex;
                align-items: center;

                & span {
                    width: 80%;
                    color: #FFF;
                    font-family: Inter;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            &-right {
                display: grid;
                grid-template-columns: 1.5fr 1fr;
                gap: 32px;

                &-col {
                    &-title {
                        color: #FFF;
                        font-family: Inter;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }

                    &-info {
                        color: #FFF;
                        font-family: Inter;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        & .col-info-link {
                            color: #FFF;
                            font-family: "Montserrat Alternates";
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            text-decoration: none;
                        }
                    }

                    &-icons {
                        display: flex;
                        width: max-content;
                        gap: 25px;
                    }
                }
            }
        }
    }

    &-copy {
        padding-top: 60px;
        padding-bottom: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFF;
        font-family: Montserrat Alternates;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}


.btn {
    width: max-content;
    border-radius: 8px;
    background: $main-color;
    padding: 16px 48px;
    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    cursor: pointer;
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    background: linear-gradient(90deg, $main-color, $main-color, $main-color, $main-color);
    background-size: 200%;
    border-radius: 30px;
    z-index: 1;
    animation: animate 4s linear infinite;
}

.btn:hover {
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.btn:before {
    content: "";
    position: absolute;
    top: 13px;
    right: 13px;
    bottom: 13px;
    left: 13px;
    z-index: -1;
    background: linear-gradient(90deg, $main-color, $main-color, $main-color, #fff);
    background-size: 200%;
    border-radius: 40px;
    opacity: 0;
    transition: .5s;
    opacity: 1;
    animation: animate 6s linear infinite;
    filter: blur(20px);
}

.btn:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 4s linear infinite;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
}

.callback {
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 100px;
    right: 50px;
    background: url(/img/logo-copy.svg) no-repeat;
    background-size: 100%;

    &-with {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100px;
        height: 100px;
        background: url(/img/logo-with-back.svg) no-repeat;
        background-size: 100%;
        z-index: 1;
    }

    &-without {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 120px;
        height: 120px;
        background: url(/img/logo-without-back.svg) no-repeat;
        background-size: 100%;
        z-index: 2;
        animation: animateCallback 1.5s linear infinite;
    }

    &-container {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 7;
        cursor: pointer;

        &-phone {
            width: 30px;
            height: 30px;

            &-icon {
                width: 100%;
                animation: animateCallbackPhone 1s alternate infinite;
            }
        }
    }
}

.modal__form {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #00000077;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    display: none;
    &-inner{
        width: max-content;
        position: relative;
        height: max-content;
        padding: 25px;
        background-color: #fff;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        &-cross-wrap{
            position: absolute;
            right: 15px;
            top: 15px;
            cursor: pointer;
            max-width: 25px;
            max-height: 25px;
            width: 100%;
            display: flex;
            justify-content: end;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .btn{
            padding: 12px 24px;
            font-size: 18px;
        }
        h2{
            text-align: center;
            margin: 0;
        }p{
            margin: 0;
        }
        &-input{
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: max-content;
            p{
                margin: 0;
            }
            input{
                width: 250px;
                padding: 12.5px 15px;
                border-radius: 15px;
                border: none;
                background-color: lightgray;
                cursor: pointer;
                outline: none;
            }
        }
    }
}
.numbers {
    width: 100%;
    box-sizing: border-box;
    padding: 50px 25px;
    background: linear-gradient(180deg, rgba(#fff, 1) 0%, rgba(#fff, 1) 100%);
    margin-top: 100px;
    margin-bottom: 100px;
    background: linear-gradient(180deg, #ffffff99 -50%, #fff 100%);
    &-wrap {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(5,20%);
        &-number {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &-ico {
                font-size: 60px;
                background: -webkit-linear-gradient($gragient-second-color, $main-color);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            &-text {
                font-size: 20px;
                text-transform: uppercase;
                text-align: center;
            }
        }
    }
}
.modal__active{
    display: flex;
}
@keyframes animateCallback {
    0% {
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        top: -15px;
        left: -15px;
        width: 130px;
        height: 130px;
        opacity: 0;
    }
}

@keyframes animateCallbackPhone {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(5deg);
    }
}

.form {}
.bullet {
    margin-left: 0;
    list-style: none;
    counter-reset: li;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 50px;
    }
    .bullet li {
    position: relative;
    margin-bottom: 1.5em;
    border: 3px solid $main-color;
    padding: 0.6em;
    border-radius: 8px;
    background: #FEFEFE;
    color: #231F20;
    }
    .bullet li:before {
        position: absolute;
        top: -1em;
        /* padding-left: 0.4em; */
        /* padding-right: 0.4em; */
        font-size: 25px;
        font-weight: bold;
        color: rgb(178, 109, 205);
        background: #FEFEFE;
        border-radius: 50%;
        counter-increment: li;
        width: 40px;
        height: 40px;
        content: counter(li);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .circle1 {
        position: absolute;
        top: 50px;
        left: 50px;
        width: 300px;
        height: 300px;
        box-shadow: inset 0 0 40px 0 rgba(178, 109, 205, .5);
        border-radius: 50%;
        z-index: 0;
    }
    .circle2{
        position: absolute;
        top: 660px;
        left: 700px;
        width: 300px;
        height: 300px;
        
        border-radius: 50%;
        box-shadow: inset 0 0 40px 0 rgba(178, 109, 205, .5);
        z-index: 0;
    }
    .circle3{
        position: absolute;
        top: 2660px;
        left: 40px;
        width: 500px;
        height: 500px;
        box-shadow:inset 0 0 70px 0 rgba(178, 109, 205, .5);
        border-radius: 50%;
        z-index: 0;
    }
    .menu {
        position: absolute;
        right: 15px;
        top: 26px;
        width: 30px;
        height: 30px;
        display: none;
        
        &-btn {
            width: 30px;
            height: 24px;
            position: absolute;
            right: 0;
            top: 0;
            &-line {
                height: 3px;
                width: 100%;
                background-color: #231F20;
                position: absolute;
                &.s1 {
                    top: 0;
                    left: 0;
                    width: 100%;
                }
                &.s2 {
                    top: 50%;
                    right: 0;
                    width: 60%;
                    transform: translateY(-50%);
                }
                &.s3 {
                    top: 50%;
                    right: 0;
                    width: 60%;
                    transform: translateY(-50%);
                }
                &.s4 {
                    bottom: 0;
                    left: 0;
                    width: 100%;
                }
            }
        }
        &-content {
            position: absolute;
            top: 30px;
            right: 0;
            width: max-content;
            padding: 10px 20px;
            background-color: #966eb7aa;
            border-radius: 10px;
            display: none;
            grid-template-columns: 1fr;
            gap: 20px;

            &-phone {
                & a{
                    color: #fff;
                    text-decoration: none;
                }
            }
            &-social {
                display: flex;
                align-items: center;
                justify-content: space-around;
                .icon {
                    width: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    &:hover {
                      //  background-color: #966eb749;
                    }
                    a {
                        display: block;
                        height: 30px;
                        
                        border-radius: 50%;
                        &:hover {
                            background-color: #966eb749;
                        }
                    }
                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }
        }
        &.active &-content {
            display: grid;
        }
        &.active .s1,&.active .s4 {
            opacity: 0;
        }
        &.active .s2 {
            width: 100%;
            transition: all .3s;
            transform: translateY(-50%) rotate(45deg);
        }
        &.active .s3 {
            width: 100%;
            transition: all .3s;
            transform: translateY(-50%) rotate(-45deg);
        }
    }
    
@media screen and (max-width:700px){
    .menu {
        display: block;
    }
    .wrapper .packs-inner-cards {
        grid-template-columns: 1fr;
    }
    .wrapper .for__who-inner-blocks {
        grid-template-columns: 1fr;
    }
    .bullet {
        grid-template-columns: 1fr;
    }
    .numbers-wrap {
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }
    .numbers-wrap-number-text {
        font-size: 14px;
    }
    .wrapper .program-body-blocks-block {
        flex-direction: column;
    }
    .footer-inner-content {
        grid-template-columns: 1fr;
        gap: 24px;
    }
    .footer-inner-content-right {
        grid-template-columns: 1fr;
        gap: 24px;
    }
    .wrapper .about-inner-blocks {
        grid-template-columns: 1fr;
    }
    .wrapper .about-inner-blocks-block.right .about-inner-blocks-block-img {
        height: 300px;
    }
    .wrapper .header__screen .content {
        flex-direction: column-reverse;
        gap: 50px;
    }
    .wrapper .header__screen .content .col__2 {
        height: 300px;
    }
    .wrapper .header__menu .info {
        display: none;
    }
    .wrapper .header__menu .logo .logo__title {
        font-size: 24px;
    }
    .wrapper .header__screen .content .col__1 .content__row .slogan__title {
        font-size: 14px;
        text-align: center;
    }
    .wrapper .header__screen .content .col__1 .content__row .btn {
        margin: auto;
    }
    .wrapper .what__get-title {
        font-size: 22px;
    }
    .wrapper .what__get-content-blocks-block {
        font-size: 14px;
        padding: 20px 10px;
    }
    .btn {
        padding: 16px 20px;
        font-size: 16px;
    }
    .wrapper .program {
        padding-top: 0;
        width: 100%;
    }
    .numbers {
        margin-top: 50px;
        margin-bottom: 50px;
        border-top: solid 5px $second-color;
        border-bottom: solid 5px $second-color;
        border-radius: 10px;
        background: linear-gradient(180deg, #ffffff99 -50%, #fff 100%)
    }
    .wrapper .program-header-title {
        font-size: 20px;
    }
    .wrapper .program-header-description {
        font-size: 16px;
    }
    .wrapper .program-body-blocks-block-description .program-list-wrap {
        width: 100%;
    }
    .wrapper .program-body-blocks-block-description {
       box-sizing: border-box;
    }
    .wrapper .program-body-blocks-block-description-row {
        grid-template-columns: 1fr 20px;
    }
    .wrapper .program-body-blocks-block-description.active .tick i {
        transform: translate(0%, -50%) rotate(180deg);
    }
    .wrapper .program-body-blocks-block-description {
        font-size: 14px;
        font-weight: 400;
    }
    .wrapper .program-body-blocks-block-title {
        padding: 16px;
    }
    .wrapper .program-body-blocks-block-full {
        font-size: 16px;
    }
    .wrapper .give {
        padding-top: 0;
    }
    .footer-inner-content-left {
        display: block;
        text-align: center;
    }
    .modal__form-inner {
        width: 70%;
    }
    .wrapper .for__who {
        padding-top: 0;
    }
    .wrapper .for__who-inner-title {
        font-size: 20px;
    }
    .wrapper .about-inner-blocks-block.left .about-inner-blocks-block-left-title {
        font-size: 24px;
    }
    .wrapper .header__menu .logo {
        width: 50px;
        height: 50px;
    }
    .wrapper .about {
        padding-top: 0;
    }
    .wrapper .for__who-inner-blocks-block {
        padding: 20px;
    }
    .callback {
        width: 50px;
        height: 50px;
        position: fixed;
        bottom: 30px;
        right: 15px;
        background: url(/img/logo-copy.svg) no-repeat;
        background-size: 100%;
    
        &-with {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 50px;
            height: 50px;
            background: url(/img/logo-with-back.svg) no-repeat;
            background-size: 100%;
            z-index: 1;
        }
    
        &-without {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 50px;
            height: 50px;
            background: url(/img/logo-without-back.svg) no-repeat;
            background-size: 100%;
            z-index: 2;
            animation: animateCallbackMobile 1.5s linear infinite;
        }
    
        &-container {
            position: relative;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 7;
            cursor: pointer;
    
            &-phone {
                width: 20px;
                height: 20px;
    
                &-icon {
                    width: 100%;
                    animation: animateCallbackPhone 1s alternate infinite;
                }
            }
        }
    }
    .circle1 {
        position: absolute;
        top: 14px;
        left: 6px;
        width: 230px;
        height: 230px;
        box-shadow: inset 0 0 40px 0 rgba(178, 109, 205, 0.5);
        border-radius: 50%;
        z-index: 0;
    }
    .circle2{
        position: absolute;
        top: 1180px;
        left: 8px;
        width: 300px;
        height: 300px;
        
        border-radius: 50%;
        box-shadow: inset 0 0 40px 0 rgba(178, 109, 205, .5);
        z-index: 0;
    }
    .circle3{
        position: absolute;
        top: 4181px;
        left: 18px;
        width: 340px;
        height: 340px;
        box-shadow:inset 0 0 70px 0 rgba(178, 109, 205, .5);
        border-radius: 50%;
        z-index: 0;
    }
    .wrapper .about-inner-blocks-block.right .about-inner-blocks-block-img.treaning {
        background-size: cover;
        background-position: center;
        height: 220px;
    }
    .wrapper .about-inner-blocks {
        gap: 40px;
    }
    .wrapper .about-inner-blocks-block.left .about-inner-blocks-block-left {
        gap: 10px;
    }
    .wrapper .header__menu {
        padding-top: 0;
    }
    
}
@keyframes animateCallbackMobile {
    0% {
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        top: -10px;
        left: -10px;
        width: 70px;
        height: 70px;
        opacity: 0;
    }
}

